html{
    font-family: avenir;
    background-color: #E6E6FA;
    font-size: 100%;
}

a {
    text-decoration: none;
}

.view{
    margin: auto;
    text-align: center;
    min-height: 100vh;
    padding: 0 5%;
}

.view .title{
    position: absolute;
    margin: 2.5% 0;
    font-size: 200%;
}

.view .left{
    text-align: left;
    width: 50%;
    float: left;
}

.view .right{
    width: 50%;
    float: right;
}

.view .content{
    text-align: center;
    position: relative;
}

.vert_no_center{
    position: static;
    text-align: center;
    padding-top: 10vh;
}

.vert_center{
    top: 50vh;
    transform: translateY(-50%);
    vertical-align: middle;
}

.profile{
    margin-top: 50px;
}

.profile img{
    width: 100px;
    height: 100px;
    display: inline-block;
    padding: 0;
}

.text{
    display: inline-block;
}

#home_view{

}

#about_view{

}

#curriculum_view{

}

#pics_view{

}

#contact_view{

}


/* Nav Bar Config */

#nav_bar{
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    margin: auto;
    width: 100%;
    background: blue;
    color: white;
    padding: 2%;
}

#nav_bar li{
    text-align: center;
    display: inline;
    padding: 0 5%;
}

#nav_bar a{
    color: white;
    white-space:nowrap;
}

/* End Nav Bar Config */

#back_to_home{
    position: fixed;
    bottom: 0;
    right: 2.5%;
    display: None;
}

#home_logo{
    width: 400px;
    height: 400px;
    display: inline-block;
    padding: 0;
}

#page_title{
    margin: auto;
    font-size: 200%;
    padding: 2%;
}

/* Image gallery begin */

#gallery{
    width: 90%; 
    margin: auto;
    padding-top: 10vh;
}

#gallery .pic_tile{
    border: 1px solid #ccc;
    display: inline-block;
    width: 200px;
    height: 300px;
    padding: 2%;
}

#gallery .pic_tile:hover{
    border: 1px solid #777;
}

#gallery .pic_tile img{
    width: 200px;
    height: 200px;
}

.pic_tile .desc {
    padding: 20px 0;
    text-align: center;
}

